# PostgreSQL Configuration
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=medical_saas

# Auth Configuration
JWT_SECRET=medical_saas_secret_key_2026
ENCRYPTION_KEY=your_app_level_encryption_key_hex_32_bytes_here

# Digital Payment Gateway (Example: Payphone, Stripe, etc.)
PAYMENT_GATEWAY_TOKEN=
PAYMENT_GATEWAY_ID=
